.checkout-page .cart-item-details-grid {
  display: grid;
  grid-template-columns: 120px 1fr 250px;
  column-gap: 25px;
  align-items: start;
}

.checkout-page .product-image {
  max-width: 100%;
  max-height: 120px;
}

.checkout-page .product-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.checkout-page .product-price {
  font-weight: 700;
  margin-bottom: 5px;
}

.checkout-page .product-quantity {
  margin-top: 8px;
}

.checkout-page .quantity-textbox {
  width: 50px;
  margin-left: 5px;
}

.checkout-page .update-quantity-link,
.checkout-page .delete-quantity-link {
  margin-left: 8px;
  cursor: pointer;
}

.checkout-page .delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
}

.checkout-page .delivery-option-input {
  margin: 3px 5px 0px 0px;
}

.checkout-page .delivery-option-date {
  font-weight: 500;
}

.checkout-page .delivery-option-price {
  color: gray;
}
